{
  "extends": "airbnb-base",
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "arrow-parens": [
      "error",
      "always"
    ],
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "semi": [
      "warn",
      "never"
    ],
    "no-continue": "off",
    "no-shadow": "off",
    "no-param-reassign": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "no-return-assign": "off",
    "func-names": "off",
    "no-tabs": [
      "error",
      {
        "allowIndentationTabs": true
      }
    ],
    "indent": [
      "error",
      "tab"
    ],
    "linebreak-style": [
      "warn",
      "windows"
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "log",
          "warn",
          "error"
        ]
      }
    ]
  }
}